
<nav class="navbar navbar-expand-md navbar-dark bg-main">
        <div class="container">
    <a routerLink="homepage" class="navbar-brand">
        <img src="https://www.enigmacamp.com/images/enigmacamp-white.svg" height="28" alt="EnigmaCamp">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/loanlist" class="nav-item nav-link" routerLinkActive="active">Loan List</a>
            <a routerLink="/customerlist" class="nav-item nav-link" routerLinkActive="active">Customer List</a>
            <a routerLink="/accountlist" class="nav-item nav-link" routerLinkActive="active">Account List</a>
            <a routerLink="/formca" class="nav-item nav-link" routerLinkActive="active">Add Account</a>
            <!-- <a routerLink="/customerdetail" class="nav-item nav-link" routerLinkActive="active">Add Daily Payment</a> -->
            <!-- <a routerLink="/uploadfile" class="nav-item nav-link" routerLinkActive="active">Input CSV File</a> -->
        </div>
        <div class="navbar-nav ml-auto">
            <a href="" class="nav-item nav-link">Logout</a>
        </div>
    </div>
</div>
</nav>