<div class="outer-container bg-danger">
<div class="bg-main py-4">
  <div class="container">
    <div class="text-light p-3 font-weight-bold">
      <h3>Main Dashboard</h3>
    </div>
    <div class="row align-items-center middle">
      <a class="col card mx-4 p-4 rounded" routerLink="//customerlist">
        <div>
          Customer List
        </div>
      </a>
      <a class="col card mx-4 p-4 rounded" routerLink="/loanlist">
        <div>
          Loan List
        </div>
      </a>
      <a class="col card mx-4 p-4 rounded" routerLink="/accountlist">
        <div>
          Account List
        </div>
      </a>
      <a class="col card mx-4 p-4 rounded" routerLink="/uploadfile">
        <div>
          Input CSV File
        </div>
      </a>
    </div>
  </div>
<!-- </div>
<div class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-4 card mx-4 p-4 rounded">
        LATEST TRANSACTION
      </div>
      <div class="col-4 card mx-4 p-4 rounded">
          LATEST REPORT
        </div>
    </div>
  </div> -->
</div>
</div>